
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main-content {
    display: flex;
    flex: 1; /* This will make it take the remaining vertical space */
  }